.login-container {
  padding: 20px;
  width: 40%;
  margin: 38px auto;
  border-radius: 15px;
  background: #f9f9f9;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.auth-heading {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  display: block;
  width: 85%;
  padding: 12px 20px;
  margin: 15px auto;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  transition: border 0.3s ease;
}

.login-input:focus {
  outline: none;
  border: 1px solid #2d79f3;
  box-shadow: 0px 0px 5px rgba(45, 121, 243, 0.5);
}

.auth-button {
  background: #2d79f3;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 20px;
}

.auth-button:hover {
  background: #1a5bb8;
}

.google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 200px;
  padding:10px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.google-btn:hover {
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
}

.google-icon {
  width: 30px;
  height: 30px;
}

.google-text {
  font-size: 18px;
  color: #333;
  margin-left: 10px;
  font-weight: 500;
}
